.basket-rooms-wrap{
  display: inline-flex;
  flex-wrap: wrap;

  width: 100%;
  padding: 20px 0;
  border-radius: 4px;
  gap: 30px;

  .room-item{
    display: inline-flex;
    flex-direction: column;
    border: 1px solid;
    border-radius: 8px;
    padding: 18px;
    row-gap: 10px;
    max-width: 270px;
  }

  .empty-block{
    margin: auto;
    width: 100%;
    text-align: center;
    span{
      font-size: 26px;
      font-weight: 500;
    }
  }
}