@import "src/styles/global";

.basket-rooms-wrap{
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;

  width: 100%;
  padding: 20px 0;
  border-radius: 4px;
  gap: 30px;

  .room-item{
    position: relative;
    display: inline-flex;
    flex-direction: column;
    border: 1px solid;
    border-radius: 8px;
    padding: 18px;
    row-gap: 10px;
    max-width: 270px;
    .rubbish{
      position: absolute;
      right: 10px;
      top: 15px;
      width: 30px;
      height: 37px;
      cursor: pointer;
      .rubbish-icon{
        width: 30px;
        height: 37px;
        padding-bottom: 5px;
        border-bottom: 2px solid transparent;
        transition: .3s;
        object-fit: cover;
        &:hover{
          transition: .3s;
          border-color: rgba(11, 11, 11, 0.77);
        }
      }
    }
  }

  .empty-block{
    margin: auto;
    width: 100%;
    text-align: center;
    span{
      font-size: 26px;
      font-weight: 500;
    }
  }

  @include media-max(768px) {
    justify-content: center;
    .room-item{
      max-width: 90%;
    }
  }
}