.my-experience-wrap{
  display: flex;
  justify-content: space-between;
  column-gap: 50px;

  section{
    flex: 1;
    padding: 15px 15px 0 15px;
    p{
      font-size: 24px;
    }
  }
  aside{
    flex: 1;
    padding: 15px;
    text-align: center;
    img{
      width: 100%;
      max-width: 300px;
    }
  }
  @media (max-width: 992px) {
    flex-direction: column-reverse;
    section, aside{
      padding: 10px;
      &>p{
        font-size: 20px;
      }
      img{
        width: 50%;
      }
    }
  }
  @media (max-width: 768px) {
    section, aside{
      padding: 10px;
      &>p{
        font-size: 18px;
      }
    }
  }
  @media (max-width: 576px) {
    aside{
      img{
        width: 70%;
      }
    }
  }
}