.app-input{
    display: flex;
    flex-direction: column;

    .input-label{
        margin-bottom: 15px;
        color: #363434;
        font-size: 18px;
    }
    .input-base{
        padding: 5px 10px;
        outline: none;
        font-size: 18px;
        color: black;
        border: none;
        border-radius: 4px 4px 0 0;
    }
}