.app-input{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;

    .input-label{
        margin-bottom: 10px;
        color: #363434;
        font-size: 18px;
    }
    .input-base{
        padding: 9px 12px;
        outline: none;
        font-size: 18px;
        color: black;
        border: none;
        border-radius: 4px 4px 0 0;
        box-shadow: inset 0 2px 2px rgba(32, 56, 85, 0.44);
        margin-top: auto;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .input-error{
        position: absolute;
        color: #d72b2b;
        font-style: italic;
        bottom: -4px;
        transform: translate(0%, 100%);
    }
    .dropdown-ico-arrow{
        position: absolute;
        top: 50%;
        right: 4%;
        color: #ccc;
        width: 35px;
        opacity: 0.5;
        transition: .5s;
        &.active{
            transition: .5s;
            transform: rotate(180deg);
        }
    }
    .ico-right{
        padding-right: 60px;
    }
}