@import './src/styles/global';

body {
  margin: 0;
  box-sizing: border-box;
  background-color: var(--main-color-bg);
  position: relative;
  padding-bottom: 65px;
}

* {
  text-decoration: none;
  //color: #ded3d3;
  color: var(--dark-gray-color);
  &:not(a){
    color: var(--black-color)
  }
}

.container {
  margin: 20px auto;
  padding-left: 15px;
  padding-right: 15px;

  @include media(576px) {
    max-width: 540px;
  }
  @include media(768px) {
    max-width: 720px;
  }
  @include media(992px) {
    max-width: 960px;
  }
  @include media(1440px) {
    max-width: 1280px;
  }
}

.main-margin{
  margin-top: 70px;
}