.app-button{
    padding: 15px 25px;
    color: #363434;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    background-color: #efefef;
    border-radius: 8px;

    &:hover{
        background-color: white;
    }
    &:active{
        box-shadow: 0 0 10px 5px rgba(11, 11, 11, 0.34);
    }
}