@import "mixins";
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,700&display=swap');

* {
  letter-spacing: 1px;
  box-sizing: border-box;
  font-family: 'Fira Sans', sans-serif;
}

h1{
  font-weight: 400;
}

:root {
  --nav-font-size: 24px;
  --calculator-form-width: 50%;


  //--header-color-bg: rgb(73, 71, 71);
  //--main-color-bg: #363434;

  --header-color-bg: #d5d0bf;
  --main-color-bg: #E6E2CF;

  --black-color: #11002A;
  --gray-color: #A2A1A1;
  --dark-gray-color: #707070;


  @include media(0px) {
    h1 {
      font-size: 32px;
    }
    --nav-font-size: 24px;
    --calculator-form-width: 100%;
  }
  @include media(576px) {
    h1 {
      font-size: 34px;
    }
    --nav-font-size: 24px;
    --calculator-form-width: 100%;
  }
  @include media(768px) {
    h1 {
      font-size: 36px;
    }
    --nav-font-size: 18px;
    --calculator-form-width: 100%;
  }
  @include media(992px) {
    h1 {
      font-size: 38px;
    }
    --nav-font-size: 20px;
    --calculator-form-width: 80%;
  }
  @include media(1440px) {
    h1 {
      font-size: 40px;
    }
    --nav-font-size: 20px;
  }
}

.input-row{
  width: 100%;
  display: flex;
  column-gap: 20px;
  .app-input, .app-dropdown{
    width: calc(50% - 10px);
  }
}

.dropdown-row{
  width: 100%;
  display: flex;
  column-gap: 20px;
  .app-dropdown{
    width: calc(50% - 10px);
  }
  @include media-max(576px){
    flex-wrap: wrap;
    .app-dropdown{
      width: 100%;
    }
  }
}

.checkbox-row{
  display: flex;
  column-gap: 20px;
  .toggle-wrap{
    width: calc(50% - 10px);
  }
  @include media-max(576px){
    row-gap: 30px;
    flex-wrap: wrap;
    .toggle-wrap{
      width: 100%;
    }
  }
}